.box {
    font-size: 1vw;
    width: 20%;
    height: 17%;
    margin-left: 60%;
    margin-top: 20%;
    background-color: #E6EDEF;
    border-radius: 15px;
    padding: 5px;
}
.back {
    position: absolute;
    font-size: 1vw;
    width: 10%;
    height: 60%;
    margin-left: 3%;
    margin-top: 0;
    background-color: #E6EDEF;
    border-radius: 15px;
    padding: 4px;
}
.kw {
    position: absolute;
    margin-left: 0;
    padding: 5px;
    width: 50%;
    height: 98%;
}
.footer {
    position: absolute;
    height: 10%;
    width: 47%;
    margin-left: 51%;
    overflow: hidden;
    bottom: 0;    
}