body {
	background-image: url("https://i.imgur.com/ZQB5Npm.jpg");
    background-repeat: no-repeat;
    min-height: 100%;
}
.box {
    position: fixed;
    min-width: 20vw;
    margin-left: 55%;
    margin-top: 22%;
    background-color: #E6EDEF;
    border-radius: 15px;
    padding: 5px;
}
.view {
    position: fixed;
    margin-top: 1%;
    margin-left: 2%;
    width: 10px;
    height: 10px;
    border-radius: 100px;
}
.back {
    position: fixed;
    min-width: 6vw;
    min-height: 3vw;
    margin-left: 3%;
    margin-top: 0;
    background-color: #E6EDEF;
    border-radius: 15px;
    padding: 4px;
}
.footer {
    position: fixed;
    height: 10%;
    width: 97%;
    overflow: hidden;
    bottom: 0;    
}