.header {
    position: absolute;
    width: 90%;
    font-size: 1.5vw;
    height: 13%;
    margin-left: 5%;
    background-color: #E6EDEF;
    border-radius: 15px;
    padding: 1px;
}

.left {
    width: 52%;
    font-size: 1.5vw;
    position: absolute;
    height: 65%;
    margin-left: 7.25%;
    margin-top: 8%;
    background-color: #E6EDEF;
    border-radius: 15px;
    padding: 5px;
}

.view {
    width: 91%;
    height: 87%;
    font-size: 1.5vw;
    margin-left: 3.25%;
    margin-top: 3%;
    background-color: rgb(255,255,255);
    border-radius: 15px;
    padding: 5px;
}

.rview {
    width: 91%;
    height: 77%;
    font-size: 1.5vw;
    margin-left: 3.25%;
    margin-top: 3%;
    background-color: rgb(255,255,255);
    border-radius: 15px;
    padding: 5px;
    overflow-y: scroll;
}

.right {
    position: absolute;
    font-size: 1.5vw;
    width: 30%;
    height: 60%;
    margin-left: 62%;
    margin-right: 6%;
    margin-top: 8%;
    background-color: #E6EDEF;
    border-radius: 15px;
    padding: 5px;
}

.footer {
    position: absolute;
    height: 10%;
    width: 97%;
    overflow: hidden;
    bottom: 0;
}

.image {
    position: absolute;
    margin-top: 1%;
    margin-left: 6%;
    border-radius: 15px;
    height: 80px;
    width: 55%;
    background-color: #E6EDEF;
    padding: 1px;
    font-size: 1vw;
}

.back {
    position: absolute;
    font-size: 1vw;
    width: 7%;
    height: 60%;
    margin-left: 3%;
    margin-top: 0;
    background-color: #E6EDEF;
    border-radius: 15px;
    padding: 4px;
}